<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container"><div class="row">
    <div class="col-md-6 mx-auto my-4">
        <div class="card card-body bg-dark">
            <h2 class="heading">Edit Post</h2>
        <div class="container">
            <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control textInput"
                      type="text"
                      name="post[title]"
                      value="<%= post.title %>"
                      placeholder="Title">
                </div>
                <div class="form-group">
                    <input class="form-control textInput"
                      type="text"
                      name="post[image]"
                      value="<%= post.image %>"
                      placeholder="Image url">
                </div>
                <div class="form-group">
                    <input class="form-control textInput"
                      type="text"
                      name="post[text]"
                      value="<%= post.text %>"
                      placeholder="Text">
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-primary px-5" type="submit">
                        <i class="far fa-paper-plane"></i>
                        Submit!
                    </button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div></div>

<%- include("../partials/footer") %>